%h3.sidebar-category Components
%ul.sidebar-links
  %li
    %a{href: "#"}
      %i.fas.fa-warehouse>
      Inventory
  %li
    %a{href: "#"}
      %i.fas.fa-credit-card>
      Purchases
  %li
    %a.active{href: "#"}
      %i.fas.fa-users>
      People
  %li
    %a{href: "#"}
      %i.fas.fa-headset>
      Tickets
  %li
    %a{href: "#"}
      %i.fas.fa-id-card-alt>
      Vendors
  %li
    %a{href: "#"}
      %i.fas.fa-network-wired>
      Network
  %li
    %a{href: "#"}
      %i.fas.fa-building>
      Company
  %li
    %a{href: "#"}
      %i.fas.fa-cogs>
      Settings