<h3 class="sidebar-category">Components</h3>
<ul class="sidebar-links">
    <li><a href="#"><i class="fas fa-warehouse"></i>Inventory</a></li>
    <li><a href="#"><i class="fas fa-credit-card"></i>Purchases</a></li>
    <li><a class="active" href="#"><i class="fas fa-users"></i>People</a></li>
    <li><a href="#"><i class="fas fa-headset"></i>Tickets</a></li>
    <li><a href="#"><i class="fas fa-id-card-alt"></i>Vendors</a></li>
    <li><a href="#"><i class="fas fa-network-wired"></i>Network</a></li>
    <li><a href="#"><i class="fas fa-building"></i>Company</a></li>
    <li><a href="#"><i class="fas fa-cogs"></i>Settings</a></li>
</ul>