= form_with(model: model, local: true) do |form|
  - if model.errors.any?
    #error_explanation
      h2
        = pluralize(model.errors.count, "error")
        | prohibited this model from being saved:
      ul
        - model.errors.full_messages.each do |message|
          li =
 message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :manufacturer_id
    = form.text_field :manufacturer_id
  .field
    = form.label :item_category_id
    = form.text_field :item_category_id
  .field
    = form.label :model_number
    = form.text_field :model_number
  .field
    = form.label :notes
    = form.text_area :notes
  .actions
    = form.submit
