= form_with(model: interfaces_ipv4, local: true) do |form|
  - if interfaces_ipv4.errors.any?
    #error_explanation
      h2
        = pluralize(interfaces_ipv4.errors.count, "error")
        | prohibited this interfaces_ipv4 from being saved:
      ul
        - interfaces_ipv4.errors.full_messages.each do |message|
          li = message
  .field
    = form.label :network_interface_id
    = form.text_field :network_interface_id
  .field
    = form.label :ipv4_address_id
    = form.text_field :ipv4_address_id
  .field
    = form.label :active
    = form.check_box :active
  .actions
    = form.submit
