- id = SecureRandom.hex(4)
.dropdown-search {
  data-controller="dropdown-search"
  data-dropdown-search-target="parent"
  data-async=(@options[:async] ? "true" : "false")
}
  - if @form
    = @form.input @name, as: :hidden, wrapper: false, input_html: { data: { target: "dropdown-search.hiddenInput" } }
  - else
    = hidden_field_tag @name, @value, data: { target: "dropdown-search.hiddenInput" }

  .selector {
    data-dropdown-search-target="selector"
    data-model=(@options[:async] ? @options[:url] : false)
    data-action="click->dropdown-search#toggle"
  }
    input {
      type="text"
      value=@display_value
      data-dropdown-search-target="input"
      data-action="focus->dropdown-search#focusInput
                   keydown->dropdown-search#handleKeyDown
                   keyup->dropdown-search#handleKeyUp"
    }

    == mi.expand_more.css_class "cursor-pointer expand"
    == mi.expand_less.css_class "cursor-pointer contract"

  .options data-dropdown-search-target="options" id="options-#{id}"
    = render SelectOptionsComponent.new(data: @data, value: @value)
