= form_with(model: custom_fieldset_association, local: true) do |form|
  - if custom_fieldset_association.errors.any?
    #error_explanation
      h2
        = pluralize(custom_fieldset_association.errors.count, "error")
        | prohibited this custom_fieldset_association from being saved:
      ul
        - custom_fieldset_association.errors.full_messages.each do |message|
          li =
 message
  .field
    = form.label :custom_fieldset_id
    = form.text_field :custom_fieldset_id
  .field
    = form.label :fieldable_id
    = form.text_field :fieldable_id
  .actions
    = form.submit
