h1 Editing Custom Fieldset Association
= render 'form', custom_fieldset_association: @custom_fieldset_association
= link_to 'Show', @custom_fieldset_association
| |
= link_to 'Back', custom_fieldset_associations_path
