@use "sass:map";

$colors: (
	"primary": orange,
	"secondary": #222
);

$sidebar: (
	"width-closed": 50px,
	"width-open": 200px,
	"background": map-get($colors, "secondary"),
	"transition-time": 100ms
);

$topbar: (
	"height": 50px
);
