= form_with(model: phone_type, local: true) do |form|
  - if phone_type.errors.any?
    #error_explanation
      h2
        = pluralize(phone_type.errors.count, "error")
        | prohibited this phone_type from being saved:
      ul
        - phone_type.errors.full_messages.each do |message|
          li =
 message
  .field
    = form.label :name
    = form.text_area :name
  .actions
    = form.submit
