<div class="dropdown group relative inline-block">
  <label for="toggle-dropdown" class="inline-block px-3 py-2 border bg-gray-100 rounded">
    <%= mi.view_column %>
  </label>

  <input type="checkbox" id="toggle-dropdown" class="hidden" checked />
  <ul class="options absolute right-0 overflow-y-auto max-h-60 min-w-full bg-gray-100 px-3 py-2 shadow">
    <li>
      <div><input type="checkbox" />Option 1</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2</div>
    </li>
    <li>
      <div><input type="checkbox" />Option 2 is kinda long</div>
    </li>
  </ul>
</div>
