<table class="table-auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th class="table-column-fit text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% departments.each do |department| %>
      <tr>
        <td><%= link_to department.name, department_path(department) %></td>
        <td><%= link_to department.location.name, location_path(department.location) if department.location %></td>
        <td nowrap>
          <%= render "shared/buttons/edit", path: edit_department_path(department) %>
          <%= render "shared/buttons/delete", path: department_path(department) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>