<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @department.company %>
</p>

<%= link_to 'Edit', edit_company_department_path(@company_id, @department) %> |
<%= link_to 'Back', company_departments_path %>
