section.container
  .column
    .row.justify-between
      h1 = department.name
      = link_to 'Edit', edit_department_path(department)
    .row
      table
        thead
          tr
            th Employee
            th Job Title
            th Assets
            th Actions
        tbody
          - department.people.each do |person|
            tr
              td = "#{person.first_name} #{person.last_name}"
              td = person.job_title
              td = person.items.count
              td
