nav.sticky class="bg-white p-3 border-b-2 -top-4" data-controller="navigation"
  - section_names.each do |section|
    .inline.px-2
      a href="##{section}" data-action="click->navigation#scroll" Details
