body {
  font-size: clamp(0.85rem, 1.125vw, 1rem);
  @apply bg-gray-100;
}

h1 {
  font-size: clamp(1.5rem, var(--font-size-break), 2.25rem);
}

h2 {
  font-size: clamp(1.375rem, var(--font-size-break), 1.875rem);
}

h3 {
  font-size: clamp(1.25rem, var(--font-size-break), 1.5rem);
}

h4 {
  font-size: clamp(1.125rem, var(--font-size-break), 1.25rem);
}

h5 {
  font-size: clamp(1rem, var(--font-size-break), 1.125rem);
}

h6 {
  @apply text-base;
}

a {
  @apply text-link-dark;

  &:hover {
    @apply text-link-dark-hover;
  }

  &:active {
    @apply text-link-dark-active;
  }

  &:visited {
    @apply text-link-dark-visited;
  }
}

section {
  @apply bg-white;
  @apply py-4;
  @apply px-3;
  @apply border-b-2;
}

/**
 * TABLE
 **/

table {
  @apply border-separate;
  border-spacing: 0;
}

th {
  text-align: left;
  @apply px-4;
  @apply py-2;
  @apply sticky;
  @apply top-0;
  @apply bg-white;
  @apply border-b-2;

  &.sortable {
    --sort-button-width: 6px;
    --sort-button-height: 5px;

    @apply pr-1;

    /* Triangle Icons */
    &:before,
    &:after {
      @apply absolute;
      @apply block;
      right: 0;
      width: 0;
      height: 0;
      content: "";
      @apply border-gray-300;
      border-style: solid;
      border-left: var(--sort-button-height) solid transparent !important;
      border-right: var(--sort-button-height) solid transparent !important;
    }

    &:before {
      top: calc(50% - (var(--sort-button-height) + 2px));
      border-bottom-width: var(--sort-button-width);
    }

    &:after {
      bottom: calc(50% - (var(--sort-button-height) + 2px));
      border-top-width: var(--sort-button-width);
    }

    &.asc:before,
    &.desc:after {
      @apply border-gray-700;
    }
  }
}

tr:nth-child(even) {
  @apply bg-coolGray-100;
}

td {
  @apply px-4 py-2;
}

th,
td {
  &.table-column-fit {
    width: 1px;
    white-space: nowrap;
  }
}

tbody {
  tr {
    &.checked {
      @apply bg-warmGray-100;

      &:nth-child(even) {
        @apply bg-warmGray-200;
      }
    }
  }

  td {
    @apply border-b;
  }
}

input,
textarea {
  margin-bottom: var(--input-margin-bottom);

  /* &[type=text], &[type=number], &[type=email], &[type=password] { */
  &:not([type="button"]):not([type="checkbox"]):not([type="color"]):not([type="file"]):not([type="hidden"]):not([type="image"]):not([type="radio"]):not([type="reset"]):not([type="submit"]) {
    @apply appearance-none;
    @apply shadow;
    @apply border;
    @apply rounded;
    @apply w-full;
    @apply py-2;
    @apply px-3;
    @apply text-text-dark;
    @apply leading-tight;

    &:focus {
      @apply outline-none;
      @apply ring;
    }
  }

  &:disabled {
    @apply bg-cyan-300;
    @apply text-gray-600;
  }
}

button,
.button,
input[type="submit"] {
  margin-bottom: var(--input-margin-bottom);
  cursor: pointer;
  @apply font-bold;
  @apply py-1;
  @apply px-2;
  @apply m-1;
  @apply rounded;

  @apply transition;

  @apply bg-brand;
  @apply text-text-light;

  &:visited {
    @apply text-text-light;
  }

  &:hover {
    @apply bg-brand-hover;
    @apply text-text-light;
  }

  &.success {
    @apply bg-success;
    @apply text-white;

    &:hover {
      @apply bg-success-hover;
    }
  }

  &.info {
    @apply bg-info;
    @apply text-white;

    &:hover {
      @apply bg-info-hover;
    }
  }

  &.warning {
    @apply bg-warning;
    @apply text-white;

    &:hover {
      @apply bg-warning-hover;
    }
  }

  &.danger {
    @apply bg-error;
    @apply text-white;

    &:hover {
      @apply bg-error-hover;
    }
  }

  &:focus {
    @apply outline-none;
    @apply ring;
  }
}

.button {
  border-width: 1px;

  i.material-icons {
    vertical-align: text-bottom;
  }
}

textarea {
  @apply p-1;
}

select {
  margin-bottom: var(--input-margin-bottom);
  display: block;
  appearance: none;
  width: 100%;
  border-width: 1px;
  cursor: pointer;

  @apply border-gray-200;
  @apply bg-white;
  @apply text-gray-700;
  @apply py-2;
  @apply px-3;
  @apply pr-8;
  @apply rounded;
  @apply leading-tight;

  &:focus {
    @apply ring;
    @apply outline-none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.select-wrapper {
  position: relative;
  cursor: pointer;
  appearance: none;

  &::after {
    content: url("data:image/svg+xml; utf8, <svg class='fill-current h-4 w-4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'/></svg>");
    position: absolute;
    top: 25%;
    right: 1rem;
    font-size: 1rem;
    height: 50%;
    width: 1.5rem;
    pointer-events: none;
  }
}

[type="checkbox"] {
  @apply box-border;
  @apply rounded-none;
}
