body {
  font-size: clamp(0.85rem, 1.1vw, 0.95rem);
  @apply bg-gray-100;
}

h1 {
  font-size: clamp(1.5rem, var(--font-size-break), 2.25rem);
}

h2 {
  font-size: clamp(1.375rem, var(--font-size-break), 1.875rem);
}

h3 {
  font-size: clamp(1.25rem, var(--font-size-break), 1.5rem);
}

h4 {
  font-size: clamp(1.125rem, var(--font-size-break), 1.25rem);
}

h5 {
  font-size: clamp(1rem, var(--font-size-break), 1.125rem);
}

h6 {
  @apply text-base;
}

a {
  @apply text-link-dark;

  &:hover {
    @apply text-link-dark-hover;
  }

  &:active {
    @apply text-link-dark-active;
  }

  &:visited {
    @apply text-link-dark-visited;
  }
}

section {
  @apply bg-white;
  @apply py-4;
  @apply px-3;
  @apply border-b-2;
}

/**
 * TABLE
 **/

table {
  @apply border-separate;
  border-spacing: 0;
}

th {
  text-align: left;
  @apply px-4 py-2;
  @apply sticky top-0;
  @apply bg-white;
  @apply border-b-2;

  &.sortable {
    --sort-button-width: 6px;
    --sort-button-height: 5px;

    @apply pr-3;

    /* Triangle Icons */
    &:before,
    &:after {
      @apply absolute;
      @apply block;
      right: 0;
      width: 0;
      height: 0;
      content: "";
      @apply border-gray-300;
      border-style: solid;
      border-left: var(--sort-button-height) solid transparent !important;
      border-right: var(--sort-button-height) solid transparent !important;
    }

    &:before {
      top: calc(50% - (var(--sort-button-height) + 2px));
      border-bottom-width: var(--sort-button-width);
    }

    &:after {
      bottom: calc(50% - (var(--sort-button-height) + 2px));
      border-top-width: var(--sort-button-width);
    }

    &.asc:before,
    &.desc:after {
      @apply border-gray-700;
    }
  }
}

tr:nth-child(even) {
  @apply bg-coolGray-100;
}

td {
  @apply px-4 py-2;
}

th,
td {
  &.table-column-fit {
    width: 1px;
    white-space: nowrap;
  }
}

tbody {
  tr {
    &.checked {
      @apply bg-warmGray-100;

      &:nth-child(even) {
        @apply bg-warmGray-200;
      }
    }
  }

  td {
    @apply border-b;
  }
}

/**
 * Inputs
 **/
html body {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="week"],
  input[multiple],
  textarea,
  select {
    @apply rounded;
    margin-bottom: var(--input-margin-bottom);

    &:focus {
      @apply ring-2 ring-brand;
      @apply border-brand;
    }
  }
}

[type="checkbox"] {
  @apply cursor-pointer;

  &:focus {
    @apply ring-0;
    @apply outline-none;
  }
}

input,
textarea {
  /* &[type=text], &[type=number], &[type=email], &[type=password] { */
  /* &:not([type="button"]):not([type="checkbox"]):not([type="color"]):not([type="file"]):not([type="hidden"]):not([type="image"]):not([type="radio"]):not([type="reset"]):not([type="submit"]) {
    @apply appearance-none;
    @apply shadow border rounded;
    @apply w-full py-2 px-3;
    @apply text-text-dark leading-tight;
  } */

  &:disabled {
    @apply bg-cyan-300 text-gray-600;
  }
}

button,
.button,
input[type="submit"] {
  @apply cursor-pointer;
  @apply border rounded;
  @apply font-bold;
  @apply py-1 lg:py-2 px-2 lg:px-3 m-1;

  @apply transition;

  @apply bg-brand text-text-light border-brand-dark;

  &:visited {
    @apply text-text-light;
  }

  &:hover {
    @apply bg-brand-hover text-text-light;
  }

  &.success {
    @apply bg-success text-white border-success-dark;

    &:hover {
      @apply bg-success-hover;
    }
  }

  &.info {
    @apply bg-info text-white border-info-dark;

    &:hover {
      @apply bg-info-hover;
    }
  }

  &.warning {
    @apply bg-warning text-white border-warning-dark;

    &:hover {
      @apply bg-warning-hover;
    }
  }

  &.danger {
    @apply bg-error text-white border-error-dark;

    &:hover {
      @apply bg-error-hover;
    }
  }

  i.material-icons {
    @apply align-bottom;
    font-size: 21px;
  }
}
