.dropdown {
  @apply z-30;

  i {
    @apply align-middle;
  }

  & > input[type="checkbox"] {
    & + .options {
      @apply hidden;

      @supports (-moz-appearance: none) {
        @apply pr-5;
      }
    }

    &:checked + .options {
      @apply block;
    }
  }

  .options {
    li {
      div {
        @apply whitespace-nowrap;

        input[type="checkbox"] {
          @apply mr-1;
          @apply cursor-default;
        }
      }
    }
  }
}

/* 
  Represents radio elements buttons
  Used to present a button interface to the user, but when only one selection is valid
  Allows use of radio inputs for accessibility but with a different visual representation
*/
.radio-buttons {
  @apply flex;

  input[type="radio"] {
    @apply visually-hidden;

    & + label {
      @apply border-gray-600;
      @apply m-0;
      @apply flex-1;
      @apply relative;
      @apply inline-block;
      @apply p-4;
      @apply text-center;
      @apply overflow-hidden;
      @apply cursor-pointer;
      @apply uppercase;
      @apply text-white;
      border-right-width: 1px;
      transition: all 100ms linear;

      &:first-of-type {
        border-radius: 5px 0 0 5px;
      }
      &:last-of-type {
        border-radius: 0 5px 5px 0;
        border-right: none;
      }
    }

    &:not(:checked) + label {
      @apply bg-cyan-500;

      &:hover {
        @apply bg-cyan-600;
      }
    }

    &:checked + label {
      @apply bg-green-500;
    }
  }
}
