.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    @apply mb-2;
  }
}