/* .container {
  margin: 0 auto;
  @apply w-full max-w-screen-2xl;
} */

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    @apply mb-2;
  }
}

.cell {
  @apply w-full;
}
