body {
  overflow: hidden;
}

#grid-layout {
  height: 100vh;
  grid-template-columns: var(--sidebar-width-open) 1fr;
  grid-template-rows: 50px 1fr 35px;
  grid-template-areas:
    "sidebar topbar"
    "sidebar content"
    "sidebar footer";

  #sidebar {
    grid-area: sidebar;
  }
  #topbar {
    grid-area: topbar;
  }
  #content {
    grid-area: content;
  }
  #footer {
    grid-area: footer;
  }

  transition: var(--sidebar-transition-time);

  &.side-bar-closed {
    grid-template-columns: var(--sidebar-width-closed) 1fr;

    #sidebar .links {
      span {
        display: none;
      }

      & > ul > li {
        position: relative;

        &:hover {
          span {
            display: inline-block;
            position: absolute;
            left: 0;
            @apply bg-brand-dark;
            width: calc(
              var(--sidebar-width-open) - var(--sidebar-link-border-left)
            );
            padding-left: var(--sidebar-width-closed);
          }

          & > ul {
            display: inline-block;
            position: absolute;
            /* top: var(--sidebar-link-height); */
            left: calc(
              var(--sidebar-width-closed) - var(--sidebar-link-border-left)
            );
            width: calc(
              var(--sidebar-width-open) - var(--sidebar-width-closed)
            );
            @apply bg-brand-dark;

            & > li:hover {
              @apply bg-brand;
            }
          }
        }
      }
    }
  }
}

#sidebar {
  z-index: 1000;
  @apply bg-blueGray-900;
  @apply flex;
  @apply flex-col;
  @apply justify-between;

  &,
  a,
  i {
    color: white;
  }

  .link-hover:hover,
  li:hover {
    i.material-icons {
      @apply text-brand;
    }
  }

  .links {
    li {
      min-height: var(--sidebar-link-height);
    }

    & > ul > li {
      line-height: calc(
        var(--sidebar-link-height) - var(--sidebar-link-border-bottom)
      );
      padding-left: var(--sidebar-icon-left-padding);
      position: relative;

      &:hover {
        @apply border-brand;
        border-width: 0 0 0 var(--sidebar-link-border-left);
        padding-left: calc(
          var(--sidebar-icon-left-padding) - var(--sidebar-link-border-left)
        );
        @apply bg-brand-dark;

        span {
          padding-left: calc(
            var(--sidebar-width-closed) - var(--sidebar-link-border-left)
          );
        }

        & > ul.up {
          top: unset;
          bottom: 100%;
        }
      }

      & > ul {
        display: none;
        @apply absolute;
        top: var(--sidebar-link-height);
        left: calc(
          var(--sidebar-width-closed) - var(--sidebar-link-border-left)
        );
        width: calc(
          var(--sidebar-width-open) - var(--sidebar-link-padding-left) +
            var(--sidebar-link-border-left)
        );

        & > li {
          @apply bg-blueGray-900;
          padding: 0;
          line-height: calc(
            var(--sidebar-link-height) - var(--sidebar-link-border-bottom)
          );
          border-bottom: var(--sidebar-link-border-bottom) solid
            map-get($colors, "secondary");

          a {
            @apply block;
            padding-left: var(--sidebar-link-padding-left);
          }
        }
      }
    }

    .material-icons {
      @apply relative;
      @apply float-left;
      padding: 10px 0 var(--sidebar-icon-left-padding) 5px;
      z-index: 990;
    }

    span {
      @apply absolute;
      @apply w-full;
      height: var(--sidebar-link-height);
      padding-left: var(--sidebar-width-closed);
      left: 0;
    }
  }
}

#sidebar-menu-toggle {
  padding: 10px 37px 0 0;
  @apply cursor-pointer;
}

main#content-wrapper {
  overflow: auto;
  padding: 15px;
  width: 100%;

  & > #content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

footer#footer {
  border-top-width: 1px;
}

.item-details {
  @apply grid grid-cols-1 md:grid-cols-2 md:grid-rows-4 gap-3 md:grid-flow-col;

  .item-row {
    @apply flex;
    @apply border-b;

    label {
      @apply font-bold;
      text-align: right;
      @apply flex-initial;
      @apply pr-2;
      min-width: 35%;
    }

    .value {
      text-align: left;
      @apply flex-1 flex-grow;
    }
  }
}
