<div>
  <h1>There are no companies to manage</h1>
  <p>Before managing assets, you will need to create a top-level entity for the assets to belong to. The model is called a Company, but you can use it represent whatever entity owns the assets you're managing.</p>
  <p><%= link_to "Create a New Company", new_company_path %>
</div>