<div class="container">
  <div class="column">

    <div class="row">
      <h1>Editing Company</h1>
      </div>

    <div class="row">
      <%= render 'form', company: @company %>
    </div>

  </div>

  <%= link_to 'Back', @company %>
</div>