= view 'tables/section', table_preferences: current_user.table_preferences, hideable_fields: @hideable_fields, name: :vendors do |section|
  = section.title
    | Vendors
  = section.button_link
    = button_link '+ New Vendor', new_vendor_path

  = section.table(scroll: true) do |table|
    = table.head do |head|
      = head.row
        = head.select_all_cell
        = head.cell :name
        = head.cell :url
        = head.cell "items.count", heading: "Assets"
        th.table-column-fit.text-center Actions

    = table.body do |body|
      - vendors.each do |vendor|
        = body.row
          = body.select_cell vendor
          = render body.cell :name
            = link_to(vendor.name, vendor)
          = render body.cell :url
            = link_to(vendor.url, vendor.url)
          = render body.cell "items.count"
            = vendor.items.count
          td nowrap="nowrap"
            .flex.justify-between.gap-1
              = view 'buttons/edit', path: edit_vendor_path(vendor)
              = view "buttons/delete", path: vendor

    = section.pagination
      .flex.pt-3
        .flex-1 = page_entries_info vendors, entry_name: "vendor"
        .flex-1 = paginate vendors
