<% link_file = "layouts/application/link" %>

<div class="links">
  <ul>
    <li>
      <%= render link_file, locals: { text: 'Sign Out', path: destroy_user_session_path, icon: :exit_to_app } %>
    </li>
  </ul>
</div>