<%
	nav_links = {
		"Inventory" => { path: items_path, icon: :important_devices },
		"Accessories" => { path: accessories_path, icon: :keyboard },
		"Consumeables" => { path: accessories_path, icon: :opacity },
		"Licenses" => { path: licenses_path, icon: :save },
		"Networks" => { path: networks_path, icon: :settings_ethernet },
		"People" => { path: people_path, icon: :people },
		"Vendors" => { path: vendors_path, icon: :business },
		"Purchases" => { path: purchases_path, icon: :shopping_cart }
	}
%>

<nav id="links">
	<ul>
		<% nav_links.each do |text, options| %>
			<% icon = mi.public_send(options[:icon]) if options[:icon] %>
			<li>
				<%= link_to("<span>#{text}</span>#{icon}".html_safe, options[:path], class: :link) %>
			</li>
		<% end %>
		<li><a href="/"><span>Settings</span><%= mi.settings %></a>
			<ul>
				<li><%= link_to 'Companies', companies_path %></li>
			</ul>
		</li>
	</ul>
</nav>