<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @ipv4_address.address %>
</p>

<%= link_to 'Edit', edit_ipv4_address_path(@ipv4_address) %> |
<%= link_to 'Back', ipv4_addresses_path %>
