#grid-layout {
  @apply grid gap-0 h-screen;
  @apply bg-gray-100 dark:bg-gray-700;
  transition: var(--sidebar-transition-time);

	grid-template-rows: var(--topbar-height) 1fr var(--footer-height);

  /* Mobile Grid Definition */
  grid-template-columns: 1fr;
  grid-template-areas:
    "topbar"
    "content"
    "footer";

  #topbar {
    grid-area: topbar;
  }
  #content {
    grid-area: content;
  }
  #footer {
    grid-area: footer;
  }

  /* Desktop Grid Definition */
  @screen sm {
    grid-template-columns: var(--sidebar-width-open) 1fr;
    grid-template-areas:
      "sidebar topbar"
      "sidebar content"
      "sidebar footer";

    &.side-bar-closed {
      grid-template-columns: var(--sidebar-width-closed) 1fr;
    }

    #sidebar {
      grid-area: sidebar;
    }
  }
}