html body {
	overflow: hidden;
}

*::selection {
	/* backgroundColor: theme.colors[theme.primaryColor][2] */
}

.hidden {
	display: none;
}

/* .fullHeight {
	display: flex
	flexDirection: column
	minHeight: `calc(100vh - ${theme.other.header.height}px - ${theme.other.footer.height}px - 20px)`
} */

label {
	fontSize: 1rem;
}