@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/alerts";

table {
  td {
    @apply px-4 py-2;
  }

  th {
    text-align: left;
    @apply pl-4;
  }

  tbody {
    td {
      @apply border;
    }

    tr:nth-child(2) {
      @apply bg-gray-200;
    }
  }
}

h1 {
  @apply text-4xl
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

a {
  @apply text-blue-600;

  &:hover {
    @apply text-blue-500;
  }
}

input {
  margin-bottom: 10px;
  
  &[type=text], &[type=number], &[type=email], &[type=password] {
    @apply appearance-none;
    @apply shadow;
    @apply border;
    @apply rounded;
    @apply w-full;
    @apply py-2;
    @apply px-3;
    @apply text-gray-800;
    @apply leading-tight;

    &:focus {
      @apply outline-none;
      @apply shadow-outline;
    }
  }
}

button, input[type=submit] {
  @apply bg-blue-500;
  @apply text-white;
  @apply font-bold;
  @apply py-2;
  @apply px-4;
  @apply rounded;

  &:hover {
    @apply bg-blue-700;
  }

  &:focus {
    @apply outline-none;
    @apply shadow-outline;
  }
}

select {
  display: block;
  appearance: none;
  width: 100%;
  border-width: 1px;
  background: transparent;
  cursor: pointer;

  @apply border-gray-200;
  @apply bg-gray-200;
  @apply text-gray-700;
  @apply py-3;
  @apply px-4;
  @apply pr-8;
  @apply rounded;
  @apply leading-tight;

  &:focus {
    @apply outline-none;
    @apply bg-white;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.field.select {
  position: relative;
  cursor: pointer;

  &::after {
    content: url("data:image/svg+xml; utf8, <svg class='fill-current h-4 w-4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'/></svg>");
    position: absolute;
    top: 25%;
    right: 1rem;
    font-size: 1rem;
    height: 50%;
    width: 1.5rem;
    pointer-events: none;
  }
}