@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/layout";
@import "components/alerts";
@import "components/grid";
@import "components/base_styles";
@import "components/styles.css";

:root {
  --input-margin-bottom: 10px;

  --font-size-break: 6vw;

  --topbar-height: 50px;

  --sidebar-width-closed: 50px;
  --sidebar-width-open: 200px;
  --sidebar-transition-time: 100ms;
  --sidebar-icon-left-padding: 8px;
  --sidebar-link-height: 45px;
  --sidebar-link-border-left: 3px;
  --sidebar-link-border-bottom: 1px;
  --sidebar-link-padding-left: 15px;

  --alert-animation-speed: 0.5s;
}
