#page-wrapper {
  display: flex;
	flex-flow: row wrap;
	min-height: 100vh;
}

/* Medium screens */
@media all and (max-width: 799px) {
  /* We tell both sidebars to share a row */
  aside#sidebar { 
		order: 1;
		flex: 1 100%; 
	}
  main#main { 
		order: 2;
		flex: 1 100%;
	}
  footer#footer { 
		order: 3;
		flex: 1 100%;
	}
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  aside#sidebar { 
		order: 1; 
		flex: 0 100px;
	}
  main#main { 
		order: 2;
		flex: 1 0px; 
	}
  footer#footer { 
		order: 3;
		flex: 1 100%;
	}
}