@use "sass:map";

@import "./theme/theme";

$icon-left-padding: 8px;

$link-height: 45px;
$link-border-left: 3px;
$link-border-bottom: 1px;
$link-padding-left: 15px;

body {
	overflow: hidden;
}

#flash {
	position: fixed;
	top: 30px;
	width: 100vw;
	z-index: 1001;
	text-align: center;
}

#grid-layout {
	height: 100vh;
	grid-template-columns: map-get($sidebar, "width-open") 1fr;
	grid-template-rows: 50px 1fr 50px;
	grid-template-areas: 
		"sidebar topbar" 
		"sidebar content" 
		"sidebar footer";

	#sidebar{ grid-area: sidebar; }
	#topbar{ grid-area: topbar; }
	#content{ grid-area: content; }
	#footer{ grid-area: footer; }

	transition: map-get($sidebar, "transition-time");

	&.side-bar-closed {
		grid-template-columns: map-get($sidebar, "width-closed") 1fr;

		#sidebar .links {
			span {
				display: none;
			}

			& > ul > li {
				position: relative;
		
				&:hover {
					span {
						display: inline-block;
						position: absolute;
						background: rgba(26, 32, 44, var(--bg-opacity));
						width: map-get($sidebar, "width-open") - map-get($sidebar, "width-closed") + $link-padding-left + $link-border-left;
					}

					& > ul {
						display: inline-block;
						position: absolute;
						top: $link-height;
						left: map-get($sidebar, "width-closed") - $link-border-left;
						width: map-get($sidebar, "width-open") - map-get($sidebar, "width-closed");
						background: #333;
					}
				}
			}
		}
	}
}

#sidebar {

	&, a, i {
		color: white;
	}

	.links {
		li {
			height: $link-height;
		}

		& > ul > li {
			line-height: $link-height - $link-border-bottom;
			padding-left: $icon-left-padding;
	
			&:hover {
				border-left: $link-border-left solid map-get($colors, "primary");
				padding-left: $icon-left-padding - $link-border-left;
			}

			& > ul {
				display: none;
				position: absolute;
				top: $link-height;
				left: map-get($sidebar, "width-closed") - $link-border-left;
				background: #333;
				width: map-get($sidebar, "width-open") - $link-padding-left + $link-border-left;

				& > li {
					padding: 0;
					line-height: $link-height - $link-border-bottom;
					border-bottom: $link-border-bottom solid map-get($colors, "secondary");

					a {
						display: block;
						padding-left: $link-padding-left;
					}
				}
			}
		}

		.material-icons {
			padding: 10px 0 $icon-left-padding 5px;
			position: relative;
			z-index: 990;
			float: left;
		}
		
		span {
			position: absolute;
			height: $link-height;
			padding-left: $link-padding-left;
		}
	}
}

#sidebar-menu-toggle {
	padding: 10px 37px 0 0;
	cursor: pointer;
}

main#content-wrapper {
	overflow: auto;
	padding: 15px;
	width: 100%;

	& > #content {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
}

footer#footer {
	border-top-width: 1px;
}