.links {
  a {
    @apply w-full inline-block;
    @apply sm:block sm:w-auto;
  }

  li {
    min-height: var(--sidebar-link-height);
  }

  & > ul > li {
    line-height: calc(
      var(--sidebar-link-height) - var(--sidebar-link-border-bottom)
    );
    padding-left: var(--sidebar-icon-left-padding);
    @apply relative;
    @apply sm:flex sm:justify-start sm:items-center;

    &:hover {
      @screen sm {
        & {
          border-width: 0 0 0 var(--sidebar-link-border-left);
        }

        span {
          padding-left: calc(
            var(--sidebar-width-closed) - var(--sidebar-link-border-left)
          );
        }
      }

      padding-left: calc(
        var(--sidebar-icon-left-padding) - var(--sidebar-link-border-left)
      );
      @apply bg-gray-100 dark:bg-gray-600;

      & > ul {
        @apply block bg-gray-100 shadow-sm;
        @apply sm:absolute;

        /* On Desktop set submenu to absolute position */
        @screen sm {
          /* @apply absolute; */
          top: -2px;
          left: calc(
            var(--sidebar-width-open) - var(--sidebar-link-border-left)
          );

          &.up {
            top: unset !important;
            bottom: 0;
          }
        }

        & > li:hover {
          @apply bg-brand-light;
        }
      }
    }

    & > ul {
      @apply block border-brand-light border-t-2 pl-8;
      @apply sm:hidden sm:absolute sm:pl-0;

        /* On Desktop hide submenus until h!over state */
      @screen sm {
        top: var(--sidebar-link-height);
        left: calc(
          var(--sidebar-width-closed) - var(--sidebar-link-border-left)
        );
        width: calc(
          var(--sidebar-width-open) - var(--sidebar-link-padding-left) +
          var(--sidebar-link-border-left)
        );
      }

      & > li {
        @apply p-0;
        line-height: calc(var(--sidebar-link-height) - var(--sidebar-link-border-bottom));
        border-bottom: var(--sidebar-link-border-bottom) solid
          map-get($colors, "secondary");

        a {
          @apply block h-full;
          padding-left: var(--sidebar-link-padding-left);
        }

        &:hover {
          a {
            padding-left: calc(var(--sidebar-link-padding-left) - 3px);
          }
        }
      }
    }
  }

  .react-icon {
    @apply relative inline-block transition-colors z-10;
  }

  span {
    @apply sm:absolute sm:w-full;

    /* On Desktop set link to absolute position */
    @screen sm {
      top: 0;
      left: 0;
      height: var(--sidebar-link-height);
    }

    padding-left: var(--sidebar-width-closed);
  }
}