#sidebar {
	@apply dark:bg-gray-600 left-0 z-50 w-screen h-screen bg-white shadow;
	@apply sm:flex sm:flex-col sm:justify-between sm:w-auto sm:h-auto;
  @apply fixed sm:static;

	transition-property: left;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
/* 
	a {
		@apply w-full inline-block;
		@apply sm:inline sm:w-auto;
	} */

	a, .react-icon {
		@apply dark:text-white text-gray-700;
	}

	.react-icon {
		@apply ml-1;
		margin-right: var(--sidebar-icon-left-padding);
	}

	li:hover {
		@apply border-brand;
    border-width: 0 0 0 var(--sidebar-link-border-left);

		.react-icon {
			@apply text-gray-600 dark:text-white;
		}
	} 
}

.side-bar-closed #sidebar {
  @apply -left-full;

  .links {
    span {
      @apply hidden;
    }

    & > ul > li {
      @apply relative;

      &:hover {
        span {
          @apply inline-block absolute left-0;
          @apply bg-white shadow;
          @apply border-b border-brand-light;
          width: calc(
            var(--sidebar-width-open) - var(--sidebar-link-border-left)
          );
          padding-left: var(--sidebar-width-closed);
        }

        & > ul {
          @apply inline-block absolute;
          @apply bg-gray-100 shadow;
          @apply border-b-2 border-t-0;
          top: var(--sidebar-link-height);

          left: calc(
            var(--sidebar-width-closed) - var(--sidebar-link-border-left)
          );
          width: calc(
            var(--sidebar-width-open) - var(--sidebar-width-closed)
          );

          &.up {
            @apply border-b-0 border-t-2;
            bottom: 100%;
          }
        }
      }
    }
  }
}
