.dropdown-search data-controller="dropdown-search" data-async=(options[:async] ? "true" : "false") *wrapper_attributes
  - if form
    = form.input name, { \
      as: :hidden,
      wrapper: false,
      input_html: { data: { 'dropdown-search-target': "hiddenInput" } } }
  - else
    = hidden_field_tag name, @value || "", data: { target: "dropdown-search.hiddenInput" }

  .selector {
    data-dropdown-search-target="selector"
    data-model=(options[:async] ? options[:url] : false)
    data-action="click->dropdown-search#toggle"
  }
    input {
      type="text"
      value=@display_value
      data-dropdown-search-target="input"
      data-action="focus->dropdown-search#focusInput
                   focus->dropdown-search#toggle
                   keydown->dropdown-search#handleKeyDown
                   keyup->dropdown-search#handleKeyUp"
    }

    == mi.expand_more.css_class "cursor-pointer expand"
    == mi.expand_less.css_class "cursor-pointer contract"

  .options data-dropdown-search-target="options" id="options-#{@id}"
    = view "forms/select_options", data: data, value: value
