html,
body,
#wrapper {
  min-height: 100vh;
  width: 100%;
}

body {
  @apply overflow-hidden;
}

#grid-layout {
  @apply bg-gray-100 dark:bg-gray-700;
  @apply grid gap-0;
  @apply h-screen;
  transition: var(--sidebar-transition-time);

  /* Mobile Grid Definition */
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 35px;
  grid-template-areas:
    "topbar"
    "content"
    "footer";

  #topbar {
    grid-area: topbar;
  }
  #content {
    grid-area: content;
  }
  #footer {
    grid-area: footer;
  }

  /* Desktop Grid Definition */
  @screen sm {
    grid-template-columns: var(--sidebar-width-open) 1fr;
    grid-template-rows: 50px 1fr 35px;
    grid-template-areas:
      "sidebar topbar"
      "sidebar content"
      "sidebar footer";

    &.side-bar-closed {
      grid-template-columns: var(--sidebar-width-closed) 1fr;
    }

    #sidebar {
      grid-area: sidebar;
    }
    #topbar {
      grid-area: topbar;
    }
    #content {
      grid-area: content;
    }
    #footer {
      grid-area: footer;
    }
  }
}

#topbar {
  @apply bg-white dark:bg-gray-600 shadow;
  @apply px-2 py-1;
  margin-bottom: 1px;

  h2 {
    @apply text-text-dark;
  }
}

#grid-layout.side-bar-closed {
  #sidebar {
    @apply -left-full;

    .links {
      span {
        @apply hidden;
      }

      & > ul > li {
        @apply relative;

        &:hover {
          span {
            @apply inline-block absolute left-0;
            @apply bg-white shadow;
            @apply border-b border-brand-light;
            width: calc(
              var(--sidebar-width-open) - var(--sidebar-link-border-left)
            );
            padding-left: var(--sidebar-width-closed);
          }

          & > ul {
            @apply inline-block absolute;
            @apply bg-gray-100 shadow;
            @apply border-b-2 border-t-0;
            top: var(--sidebar-link-height);

            left: calc(
              var(--sidebar-width-closed) - var(--sidebar-link-border-left)
            );
            width: calc(
              var(--sidebar-width-open) - var(--sidebar-width-closed)
            );

            &.up {
              @apply border-b-0 border-t-2;
              bottom: 100%;
            }
          }
        }
      }
    }
  }
}

#sidebar {
  @apply bg-white dark:bg-gray-600 shadow z-50;

  @apply fixed w-screen h-screen left-0;
  /* TODO: Extend Tailwind transitions to include "left" */
  transition-property: left;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  @screen sm {
    position: initial;
    @apply flex flex-col justify-between;
    @apply w-auto h-auto;
  }

  &,
  a,
  i {
    @apply text-gray-700 dark:text-white;
  }

  .link-hover:hover,
  li:hover {
    @apply border-l-2 border-brand;

    i.material-icons {
      @apply text-gray-600 dark:text-white;
    }
  }

  .links {
    li {
      min-height: var(--sidebar-link-height);

      a {
        @apply w-full inline-block sm:inline sm:w-auto;
      }
    }

    & > ul > li {
      line-height: calc(
        var(--sidebar-link-height) - var(--sidebar-link-border-bottom)
      );
      padding-left: var(--sidebar-icon-left-padding);
      position: relative;

      &:hover {
        @screen sm {
          span {
            padding-left: calc(
              var(--sidebar-width-closed) - var(--sidebar-link-border-left)
            );
          }
        }

        padding-left: calc(
          var(--sidebar-icon-left-padding) - var(--sidebar-link-border-left)
        );
        border-width: 0 0 0 var(--sidebar-link-border-left);
        @apply bg-gray-100 dark:bg-gray-600;

        & > ul {
          @apply block bg-gray-100 shadow-sm;

          /* On Desktop set submenu to absolute position */
          @screen sm {
            @apply absolute;
            top: -2px;
            left: calc(
              var(--sidebar-width-open) - var(--sidebar-link-border-left)
            );

            &.up {
              top: unset !important;
              bottom: 0;
            }
          }

          & > li:hover {
            @apply bg-brand-light;
          }
        }
      }

      & > ul {
        @apply block border-brand-light border-t-2;
        padding-left: 3.7rem;

        /* On Desktop hide submenus until hover state */
        @screen sm {
          @apply hidden absolute pl-0;
          top: var(--sidebar-link-height);
          left: calc(
            var(--sidebar-width-closed) - var(--sidebar-link-border-left)
          );
          width: calc(
            var(--sidebar-width-open) - var(--sidebar-link-padding-left) +
              var(--sidebar-link-border-left)
          );
        }

        & > li {
          @apply p-0;
          line-height: calc(
            var(--sidebar-link-height) - var(--sidebar-link-border-bottom)
          );
          border-bottom: var(--sidebar-link-border-bottom) solid
            map-get($colors, "secondary");

          a {
            @apply block;
            padding-left: var(--sidebar-link-padding-left);
          }

          &:hover {
            a {
              padding-left: calc(var(--sidebar-link-padding-left) - 2px);
            }
          }
        }
      }
    }

    .material-icons {
      @apply relative;
      @apply float-left;
      padding: 10px 0 var(--sidebar-icon-left-padding) 5px;
      @apply transition-colors;
    }

    span {
      /* On Desktop set link to absolute position */
      @screen sm {
        @apply absolute w-full;
        left: 0;
        height: var(--sidebar-link-height);
      }

      padding-left: var(--sidebar-width-closed);
    }
  }
}

#sidebar-menu-toggle {
  padding: 10px 37px 0 0;
}

#topbar-menu-toggle {
  padding: 6px 37px 0 5px;
}

main#content-wrapper {
  @apply overflow-auto p-4 w-full;
  @apply dark:text-white;

  & > #content {
    max-width: 1200px;
    margin: 0 auto;
    @apply flex flex-col;
  }
}

footer#footer {
  @apply border-t border-gray-300;
  @apply bg-white dark:bg-gray-600 shadow;
  @apply pr-3 pt-1;
}

.item-details {
  @apply grid grid-cols-1 md:grid-cols-2 gap-3;
  @apply mb-4;

  .item-row {
    @apply flex;
    @apply border-b;

    label {
      @apply font-bold text-right;
      @apply flex-initial;
      @apply pr-2;
      min-width: 35%;
    }

    .value {
      @apply flex-1 flex-grow text-left;
    }
  }
}
