.scroll-content {
  @apply overflow-x-auto;
  @apply overflow-y-auto;
  @apply relative;
  @apply max-h-full;
}

a.button {
  @apply inline-block;
  @apply text-center;

  &.checkin,
  &.checkout {
    width: 100px;
  }

  &.checkin {
    @apply bg-lightBlue-800;
  }
}

.simple_form {
  @apply max-w-screen-lg;

  @screen lg {
    fieldset {
      @apply flex flex-wrap;

      .field {
        @apply ml-2 flex-1;

        &:first-child {
          @apply ml-0;
        }
      }
    }
  }
}

div.field {
  @apply bg-gray-200 mb-2 w-full;
  @apply border-brand-light border-t-2;
  /* Rounded corners on the top for mobile */
  /* @apply rounded-t rounded-b-none; */

  &.required {
    @apply border-brand;
  }

  &.field_with_errors {
    @apply border-error;
  }

  .input {
    @apply relative; /* Forces input icons to display correctly */
    line-height: 1;

    select,
    .dropdown-search {
      @apply w-full;
    }

    input,
    select {
      line-height: 24px;
    }
  }

  label {
    @apply px-3 py-2 inline-block;

    &.text {
      @apply text-left w-full rounded-t rounded-b-none;

      & + textarea {
        @apply rounded-t-none;
      }
    }
  }

  .feedback {
    .error,
    .hint {
      width: calc(100% - 1px);
    }
    .error {
      @apply py-1 px-2;
      @apply text-error-dark bg-error-light border-l border-error-dark;
    }
  }

  .icon {
    @apply absolute flex justify-center items-center;
    @apply mt-px ml-px px-2 bg-gray-100;
    height: calc(100% - 2px);

    & + input {
      @apply pl-8;
    }
  }

  /* On Desktop use a 2 column grid to show labels and inputs, with feedback elements below input */
  @screen md {
    &:not(.text) {
      @apply grid;
      grid-template-columns: var(--label-width) 1fr;

      /* Rounded corners on the left for desktop */
      @apply border-t-0 border-l-2;
      /* @apply rounded-l rounded-r-none; */
    }

    label {
      @apply flex-1 text-right;
      max-width: var(--label-width);
      grid-row-start: span 2;

      & ~ .input_wrapper {
        @apply flex-2 rounded-l-none;
      }
    }
  }
}

#modal-overlay {
  @apply hidden;
  @apply fixed inset-0 z-40;
  @apply w-full h-full;
  @apply bg-white;

  &.visible {
    @apply flex;
    @apply justify-center;
    align-items: center;
    @apply bg-opacity-80 bg-gray-800;
  }

  #modal-window-area {
    @apply relative;
    @apply max-h-full sm:max-h-5/6;
    @apply w-full sm:w-10/12 lg:w-8/12;
    @apply overflow-y-auto;
    @apply bg-white rounded-lg;

    #modal-close {
      @apply text-gray-600 ease-in-out transition-colors;
      @apply p-2 cursor-pointer;
      @apply absolute top-1 right-1;

      &:hover {
        @apply text-brand-dark;
      }
    }

    #modal-content-area {
      .modal-header {
        @apply w-full;
        @apply px-4 pt-6 pb-0;
        @apply border-b;
      }

      .modal-content {
        @apply p-4;
      }
    }
  }
}

.tile {
  @apply w-full max-w-sm;
  @apply bg-white shadow-md;
  @apply rounded-lg;
  @apply border-t-2 border-brand-light;

  .tile-content {
    @apply px-4 sm:px-8 pt-6 pb-1;
  }

  .tile-footer {
    @apply flex;
    @apply bg-gray-100;
    @apply rounded-b-lg;

    & > * {
      @apply px-4 sm:px-8 py-3;
    }
  }

  a.link-hover {
    @apply border-t border-b border-gray-100 text-center;
    @apply transition-all duration-500;

    &:hover {
      @apply bg-violet-50;
      @apply border-gray-200;
    }
  }
}

.dropdown-search {
  @apply relative inline-block;

  .selector {
    @apply inline-flex justify-center w-full;
    @apply border border-gray-300 shadow-sm;
    @apply bg-white hover:bg-gray-50;
    @apply p-1 py-1;
    @apply text-sm font-medium text-gray-700 hover:text-gray-700;

    &,
    & > input {
      @apply cursor-pointer;
    }

    .contract {
      @apply hidden;
    }

    i {
      @apply pt-1;
    }
  }

  input {
    @apply m-0 py-1 pl-2 border-white focus:border-brand;
  }

  .options {
    @apply hidden;
    @apply overflow-y-auto cursor-default;
    @apply absolute left-0 w-full max-h-56;
    @apply shadow-lg bg-white;
    @apply ring-1 ring-black ring-opacity-5;

    .option {
      @apply px-4 py-2;
      @apply text-sm text-gray-700 hover:text-gray-900;

      &.active {
        @apply bg-brand-light;
      }

      &:not(.active).selected {
        @apply bg-gray-100;
      }
    }
  }

  &.open {
    .selector {
      @apply cursor-default;
      .expand {
        @apply hidden;
      }

      .contract {
        @apply block;
      }

      input {
        @apply cursor-text;
      }
    }

    .options {
      @apply block z-10;
    }
  }
}

.dropdown-menu {
  @apply inline-block relative;

  .heading {
    @apply pr-1 px-3 py-1;
    @apply outline-none focus:outline-none border  bg-white rounded-md;
    @apply flex items-center cursor-pointer;
  }

  svg {
    @apply transition ease-in-out;
  }

  &.open {
    .heading {
      @apply rounded-b-none;

      & > svg {
        transform: rotate(180deg);
      }
    }

    & > ul {
      @apply block z-50;
    }
  }

  ul {
    @apply rounded-md rounded-tr-none;
    @apply absolute hidden right-0 whitespace-nowrap;
    @apply shadow bg-white border;

    li {
      @apply py-2 px-3 hover:bg-gray-100;
    }

    & > ul {
      @apply hidden;
    }
  }
}
