form.format-grid {
  div.field {
    @screen md {
      &:not(.textarea) {
        @apply grid;
        grid-template-columns: var(--label-width) 1fr;
        grid-template-rows: 1fr;
      }
    }
  }
}

div.field {
  @apply bg-gray-100 mb-2 w-full;
  @apply border-brand-light border-t-2;

  &.required {
    @apply border-brand;
  }

  &.field_with_errors {
    @apply border-alert;
  }

  &.boolean {
    .input {
      @apply inline-block;
    }
  }

  .input {
    /*@apply relative; /* Forces input icons to display correctly */
    /* line-height: 1;

    select {
      @apply w-full;
    }

    input,
    select {
      line-height: 24px;
    } */
  }

  label {
    @apply px-3 py-2 inline-block;

    &.text {
      @apply text-left w-full rounded-t rounded-b-none;

      & + textarea {
        @apply rounded-t-none;
      }
    }
  }

  /* .icon {
    @apply absolute flex justify-center items-center;
    @apply mt-px ml-px px-2 bg-gray-100;
    height: calc(100% - 2px);

    & + input {
      @apply pl-8;
    }
  } */

  /* On Desktop use a 2 column grid to show labels and inputs, with feedback elements below input */
  @screen md {
    &:not(.textarea) {
      @apply border-t-0 border-l-2;
    }

    & > label, & > legend {
      @apply flex-1 text-right;
      max-width: var(--label-width);
      grid-row-start: span 2;

      & ~ .input_wrapper {
        /* @apply flex-2 rounded-l-none; */
      }
    }
  }
}