<table class="table-auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th class="table-column-fit text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location_path(location) %></td>
        <td><%= link_to location.parent.name, location_path(location.parent) if location&.parent_id %></td>
        <td nowrap>
          <%= render "shared/buttons/edit", path: edit_location_path(location) %>
          <%= render "shared/buttons/delete", path: location_path(location) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>