<table class="table-auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, company_location_path(@company, location) %></td>
        <td><%= link_to location.parent.name, company_location_path(@company, location.parent) if location&.parent_id %></td>
        <td>
          <%= render "shared/buttons/edit_button", path: edit_company_location_path(@company, location) %>
          <%= render "shared/buttons/delete_button", path: company_location_path(@company, location) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>