<table class="table-auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, company_location_path(@company, location) %></td>
        <td><%= link_to location.parent.name, company_location_path(@company, location.parent) if location&.parent_id %></td>
        <td><%= link_to 'Edit', edit_company_location_path(@company, location) %></td>
        <td><%= link_to 'Destroy', company_location_path(@company, location), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>