<div class="container">
  <div class="column">

    <div class="row">
      <h1>Editing Location</h1>
    </div>

    <%= render 'form', location: @location %>
    
  </div>

  <%= link_to 'Back', company_path(@location.company) %>
</div>