<div class="container">
  <div class="column">

    <div class="row">
      <p>
        <strong>Name:</strong>
        <%= @location.name %>
      </p>
    </div>

  </div>

  <%= link_to 'Edit', edit_location_path(@location) %> |
  <%= link_to 'Back', company_path(@location.company.id) %>
  
</div>